* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  padding: 32px;
}

.app button {
  padding: 16px 48px;
  background-color: #7613c2;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;

  font-size: 18px;

  transition: background-color 0.3s;
  margin-bottom: 24px;
}

.app p {
  font-size: 24px;
}

.app button:hover {
  background-color: #5c0f96;
}
